[Desktop Entry]
Version=1.0
Type=Application
Name=Networks
Comment=
Exec=exo-open network:///
Icon=gtk-network
Path=
Terminal=false
StartupNotify=false
