[Desktop Entry]
Version=1.0
Type=Application
Name=Computer
Comment=
Exec=exo-open --launch FileManager
Icon=monitor
Path=
Terminal=false
StartupNotify=false
GenericName=
