Source: nixcontrolcenter
Section: xfce
Priority: optional
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Homepage: http://github.com/nixheads/nixcontrolcenter
Package: nixcontrolcenter
Version: 1.0.1
Architecture: all
Depends: gir1.2-webkit-3.0, python3-tk, python3-gi, gnome-packagekit
Description: Nix Control Center
 A simple Control Center for Linux.
