Source: nixcontrolcenter
Section: xfce
Priority: optional
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Homepage: http://github.com/nixheads/nixcontrolcenter
Package: nixcontrolcenter
Version: 1.0
Architecture: all
Depends: gir1.2-webkit-3.0, python3-tk, python3-gi
Description: Linux Lite Control Center applet for Xfce panel
 This is a simple applet to open a Control Center for Linux Lite.
